.example-spacer {
    flex: 1 1 auto;
}

.font-title {
    font-size: 3.5rem;
    margin: 0 auto;
    margin-left: 300px;
    font-family: courier, arial, helvetica;
}

img.mat-card-image {
    width: 100%;
    height: 80%;
}

.mat-nav-list {
    right: 80px;
    height: 80%;
}

.container {
    position: relative;
    text-align: center;
    color: red;
    bottom: 0;
    width: 100%;
}
