.example-spacer {
    flex: 1 1 auto;
}

.font-title {
    font-size: 3.5rem;
    margin: 0 auto;
    margin-left: 550px;
    font-family: courier, arial, helvetica;
}

.background-color {
    background-color: #1a180a;
}